:root {
  /*  colour variables  */
  /* primary */
  --clr-very-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);
  /* neutral */
  --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
  --clr-light-grayish-magenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);

  /* font */
  --main-font: Spartan;

  /* box sizing */
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: var(--main-font);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header"
    "ratings"
    "comments";
}

.page-header {
  grid-area: header;
  margin: 0 1em 0;
  background-image: url(/images/bg-pattern-top-mobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}


.title > h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: var(--clr-very-dark-magenta);
  text-align: center;
  font-size: 2.1em;
  font-weight: 700;
}

.slogan {
  color: var(--clr-soft-pink);
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
}

.ratings {
  grid-area: ratings;
}

.buyer-comments {
  grid-area: comments;
}
